html{
    background-color: #f6f6f6;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 40px 0 0;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
}

nav{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 1000px;
    font-size:18px;
}

